services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres_db
    environment: 
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB: ${PG_DB}
    ports:
      - "5434:5432"

  redis:
    image: redis:8-alpine
    container_name: redis

  app:
    build: .
    container_name: saas_backend
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./:/app